* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
section {
  display: none;
}
#admin {
  display: block;
  background: linear-gradient(
    184.21deg,
    #888686 19.04%,
    rgba(0, 0, 0, 0.13) 73.38%,
    rgba(136, 134, 134, 0) 81.77%
  );
}
.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}
input {
  width: 400px;
  height: 30px;
  padding: 20px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}
button {
  padding: 10px 40px;
  background: orange;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 20px 0;
}

.pageOne {
  text-align: center;

  .paragraph {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid grey;
    padding: 20px 0;
  }
  .getBtn {
    padding: 10px 30px;
    background: orange;
    border: none;
    border-radius: 10px;
    margin: 30px 0;
  }
}

.list-box {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 255, 0.798);
  padding: 10px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    background: orange;
    border: none;
    padding: 20px;
    border-radius: 50%;
  }
}

#edit {
    background: linear-gradient(
    184.21deg,
    #888686 19.04%,
    rgba(0, 0, 0, 0.13) 73.38%,
    rgba(136, 134, 134, 0) 81.77%
  );
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}